<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>TemuBelajar membutuhkan akses kamera untuk video call dengan sesama mahasiswa.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TemuBelajar membutuhkan akses mikrofon untuk berbicara saat video call.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TemuBelajar membutuhkan akses galeri foto.</string>
</dict>
</plist>
